<style type='text/css'>
    .root {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .subdiv {
        width: 500px;
        height: auto;
        padding: 20px;
        background: #7f8c8d;
        margin-top: 30px;

    }

    .ctrl {
        padding: 10px;
    }
</style>


<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<form action="/product/submitrecord" method="POST" enctype="multipart/form-data">
    <div class='root'>
        <div class="subdiv">
            <a href='/product/displayall'>Show All Products</a>

            <h4>Add Products</h4>
            <div class="row ctrl">
                <input type='text' name="productname"  class='form-control' placeholder='Product Name'>
            </div>

            <div class="row ctrl">
                <div class="col">
                    <input type='text' name="productrate" class='form-control' placeholder='Product Rate'>
                </div>

                <div class="col">
                    <input type='text' name="productstock" class='form-control' placeholder='Product Stock'>
                </div>

            </div>


            <div class="row ctrl">
                <div class="col">
                    <input type='text' name="offerprice" class='form-control' placeholder='Offer Price'>
                </div>

                <div class="col">
                    <select class="form-control" name="offertype">
                        <option>Discounted</option>
                        <option>Exchange Offer</option>


                    </select>
                </div>

            </div>
            <div class="row ctrl">
                <textarea class='form-control' name="description"> Description</textarea>
            </div>

            <div class="row ctrl">
                <select class='form-control' name="status">
                    <option>Discontinue</option>
                    <option>Coming Soon</option>
                </select>

            </div>

            <div class="row ctrl">
                <input type="file" name="picture" class="form-control">
            </div>


            <div class="row ctrl">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

                <div class="col">
                    <button type="reset" class="btn btn-primary">Reset</button>
                </div>


            </div>

            <div class="row ctrl">
                <h5>
                    <%=msg %>
                </h5>


            </div>

        </div>
</form>

</html>